<div style="background-repeat:no-repeat;">

  <%= image_tag "home.jpg" %>
</div>
<!-- {
    background-image: url(http://leydenlewis.com/images/LANDING_PAGE.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
} -->
